/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.superstrong {
    font-weight: 800;
}

em {
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Raleway', Helvetica;
    vertical-align: baseline;
    /*background-color: #fffcf5;*/
}

#index-body {
    background-color: black;
    color: white;
}

.index-content {
    width: 100%;
    font-weight: 300;
    height: 100vh;
}

#index-content-item-3-btn > a:link, 
#index-content-item-3-btn > a:visited,
.index-control > a:link,
.index-control > a:visited {
    color: #FFFFFF;
}

#index-content-item-3-btn > a:hover,
.index-control > a:hover {
    color: #FFC300;
}

#index-content-1,
#index-content-2 {
    font-size: 2vw;
}

#index-content-3 {
    font-size: 1.5vw;
}

.index-content a {
    color: #FFFFFF;
}

.index-content-item {
    padding: 1.5rem;
    line-height: 1.3;
}

.index-content-item-left {
    width: 55%;
}

.index-content-item-right {
    width: 60%;
    margin-left: 40%;
}

#index-content-item-1,
#index-content-item-3 {
    border-left-width: 20px;
    border-left-style: solid;
    border-radius: 40px 0px 0px 40px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

#index-content-item-1 {
    border-left-color: #FFC300;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}

#index-content-item-3 {
    border-left-color: #cc3333;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75));
    margin-bottom: 200px;
}

.index-content-item-btn {
    font-weight: 900;
    border-left: 10px solid #FFC300;
    border-right: 10px solid #FFC300;
    width: fit-content;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
}

#index-content-item-2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    border-right: 20px solid #4a8bad;
    border-radius: 0px 40px 40px 0px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 250px;
}

#index-content-2 {
    background-image: url("../image/bg-1.jpg");
    background-size: cover;
    background-position: center;
}

#index-content-3 {
    background-image: url("../image/bg-2.jpg");
    background-size: cover;
    background-position: center;
}

.index-content-header-1 {
    font-size: 3vw;
    font-weight: 900;
}

.index-content-header-2 {
    font-size: 2.5vw;
    font-weight: 600;
}

.index-content-header-3 {
    font-size: 2vw;
    font-weight: 600;
}

#bg-video {
    position: absolute;
    z-index: -100;
    opacity: 0;
    top: -25%;
    right: 0;
    height: 150%;
    background-color: black;
    background-position: center center;
}


.index-control {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    z-index: 1;
    font-size: 1vw;
    background-color:rgba(0, 0, 0, 0.5);
    font-weight: 400;
    padding: 0.5vw;
}

.ready-to-fade {
    opacity: 0;
}

.ready-to-fade-and-move-up {
    opacity: 0;
    transform: translateY(20%);
}

.ready-to-fade-and-move-down {
    opacity: 0;
    transform: translateY(-20%);
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #999999 !important;
}

/* Content Page */

a:link,
a:visited {
    color: #666666;
}

a:hover {
    color: #333333;
}


header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.8vw 1.5vw 0.8vw 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.site-name {
    border-left: 5px solid #FFC300;
    padding-left: 1vw;
}

.site-name>a {
    color: #FFFFFF;
    text-decoration: none;
}

.bigger-one {
    font-size: 1.2rem;
}

.smaller-one {
    font-size: 0.8rem;
}

.author {
    margin-top: 0.3vw;
    font-weight: 200;
}

.desktop-menu>div {
    flex: 1 0 30%;
    padding: 0.5vw;
}

.desktop-menu>div a {
    color: #FFFFFF;
    text-decoration: none;
}

.desktop-menu>div a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background-image: linear-gradient(90deg, rgba(255, 195, 0, 1) 0%, rgba(255, 195, 0, 1) 100%);
    transition: 300ms;
}

.desktop-menu>div a:hover::after {
    width: 100%;
}


.article-headline {
    height: max-content;
    color: #ffffff;
    vertical-align: bottom;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

#article-headline-1 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(117, 19, 93, 0.50)), url("../image/topic-1.jpg");
    background-size: cover;
}

#article-headline-2 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(42, 42, 114, 0.50)), url("../image/topic-2.jpg");
    background-size: cover;
}

#article-headline-3 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.15), rgba(169, 75, 6, 0.50)), url("../image/topic-3.jpg");
    background-size: cover;
    background-position: bottom;
}

#article-headline-4 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(156, 154, 64, 0.50)), url("../image/topic-4.jpg");
    background-size: cover;
    background-position: bottom;
}

#article-headline-5 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(97, 119, 79, 0.50)), url("../image/topic-5.jpg");
    background-size: cover;
    background-position: bottom;
}

#article-headline-6 {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.25), rgba(0, 0, 0, 0.50)), url("../image/topic-6.jpg");
    background-size: cover;
    background-position: bottom;
}

.article-headline-text-part {
    height: max-content;
    margin-left: 10vw;
    margin-right: 10vw;
}

.headline {
    padding-top: 30vw;
    font-size: 3rem;
    font-weight: 800;
    line-height: 0.9;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sub-headline {
    padding-top: 1vw;
    padding-bottom: 2.5vw;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.content {
    margin: 1em 20vw 1em 10vw;
    font-size: 1.2rem;
}

.subtopic {
    margin: 2.5vw 10vw 1vw 10vw;
    font-size: 1.5rem;
    font-weight: 600;
}

.subtopic-1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(36, 0, 16);
    background: linear-gradient(90deg, rgba(81, 13, 65, 1) 0%, rgba(117, 19, 93, 0.74) 50%, rgba(245, 246, 252, 0.24) 100%);
}

.subtopic-2 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 36);
    background: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(42, 42, 114, 0.74) 40%, rgba(245, 246, 252, 0.24) 100%);
}

.subtopic-3 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 36);
    background: linear-gradient(90deg, rgba(36, 12, 0, 1) 0%, rgba(169, 75, 6, 0.74) 40%, rgba(245, 246, 252, 0.24) 100%);
}

.subtopic-4 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(36, 36, 0);
    background: linear-gradient(90deg, rgba(36, 36, 0, 1) 0%, rgba(156, 154, 64, 1) 40%, rgba(245, 246, 252, 0.24) 100%);
}

.subtopic-5 {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: rgb(36, 36, 0);
    background: linear-gradient(90deg, rgba(16, 36, 0, 1) 0%, rgba(97, 119, 79, 1) 40%, rgba(245, 246, 252, 0.24) 100%);
}

.subtopic-6 {
    margin-top: 4vw !important;
    margin-bottom: 2vw !important;
    color: #666666;
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b);
    height: 0.2em;
}

.subtopic-6>span {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    padding: 1vw;
    position: relative;
    top: -0.6em;
    left: 2vw;
}

.vis {
    margin: 3em 10vw 2em 10vw;
}

.first-block-content {
    margin-top: 3vw;
}

.last-block-content {
    margin-bottom: 3vw;
}

.quote {
    font-weight: 600;
    font-style: italic;
}

#menu-btn {
    position: relative;
}

/*
  *   Checkbox for toggle open/close dropdown menu
  *   This code has written by myself, but inspired by Chris Coyier's content at css-tricks.com
  *   accessed 23-10-2019
  *   https://css-tricks.com/the-checkbox-hack/
  *   Adapt with dropdown menu class '.menu-dropdown-items'
  */
#btn-toggle {
    /* Checkbox used for toggle drop-down menu, define opacity = 0 and bring it into front layer */
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

/* End of referenced code : Checkbox for toggle open/close dropdown menu */

#label-btn-toggle {
    display: none;
}

#menu-toggle {
    height: 100%;
    padding: 1vw;
    border-radius: 3px;
    color: #666666;
    font-weight: 800;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff 0%, #bbbbbb 100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/*
  *   Dropdown menu for mobile site
  *   This code was adapted from w3schools.com
  *   accessed 23-10-2019
  *   https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button
  *   Change code by add 'border' to each menu item / Set position by using 'transform' / change appearance
  *   Adapt checkbox '#btn-toggle:checked' to toggle dropdown menu open or close
  *   see further comments for adaptions
  */

.menu-dropdown-items {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    position: absolute;
    width: 40vw;
    overflow: hidden;
    z-index: 2;
    transition: visibility 0s, opacity 0.25s linear, max-height 0.5s ease-out;
}

/* End of referenced code : Dropdown menu for mobile site */

.main-menu-item-mobile {
    color: #666666;
    padding: 0.5em 0.5em;
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff 0%, #bbbbbb 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px dotted #999999;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.menu-dropdown-items>a:first-child>.main-menu-item-mobile {
    border-radius: 5px 0px 0px 0px;
}

.menu-dropdown-items>a:last-child>.main-menu-item-mobile {
    border-radius: 0px 0px 5px 5px;
    border-bottom: 0;
}

.menu-dropdown-items>a {
    color: #666666;
    text-decoration: none;
}

.content>ul>li {
    list-style-type: square;
    /* list-style-position: inside; */
    margin-left: 3em;
}

/* Mobile Site */

@media only screen and (max-device-width: 850px),
(max-width: 850px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    html {
        font-size: 12px;
    }

    .index-content {
        font-weight: 400;
    }

    #index-content-1,
    #index-content-2 {
        font-size: 4vw;
    }

    #index-content-3 {
        font-size: 3vw;
    }

    .index-content-header-1,
    .index-content-header-2 {
        font-size: 5vw;
    }

    .index-content-header-3 {
        font-size: 4vw;
    }

    #bg-video {
        right: -125%;
    }

    #fp-nav.fp-right {
        right: 5px !important;
    }

    header {
        padding: 2vw 4vw 2vw 4vw;
    }

    .mobile-menu {
        /* Use flex (1 column) in main menu for mobile site */
        width: 15vw;
        display: flex;
        flex-flow: column nowrap;
    }

    .menu-dropdown-items {
        transform: translate(-25vw, 25px);
    }

    .desktop-menu {
        display: none;
    }

    #btn-toggle:checked~.menu-dropdown-items {
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
        transition: visibility 0.5s, opacity 0.25s linear, max-height 0.5s ease-in;
    }

    .site-name {
        padding-left: 2vw;
    }

    .content {
        margin: 1em 10vw 1em 10vw;
    }

    .headline {
        padding-top: 40vw;
    }

    .sub-headline {
        padding-top: 3vw;
        padding-bottom: 6vw;
    }

    .first-block-content {
        margin-top: 6vw;
    }

    .last-block-content {
        margin-bottom: 6vw;
    }

    .subtopic {
        margin: 10vw 10vw 2vw 10vw;
    }

    .subtopic-1,
    .subtopic-2,
    .subtopic-3,
    .subtopic-4,
    .subtopic-5 {
        padding: 2vw;
    }

    .subtopic-6 {
        margin-top: 6vw !important;
    }

    .vis {
        margin: 3em 5vw 2em 5vw;
    }

    .two-vis-in-a-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .two-vis-in-a-row>div {
        flex: 1 0 100%;
        padding: 0;
    }

    .two-vis-in-a-row>div:first-child {
        border: 0;
    }
}

@media only screen and (min-device-width: 850px),
(min-width: 850px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .desktop-menu {
        width: 60%;
        height: max-content;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .mobile-menu {
        display: none;
    }

    .two-vis-in-a-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .two-vis-in-a-row>div {
        flex: 1 0 40%;
        padding: 0.5vw;
    }

    .two-vis-in-a-row>div:first-child {
        border-right: 1px dotted #CCCCCC;
    }

    .subtopic-1,
    .subtopic-2,
    .subtopic-3,
    .subtopic-4,
    .subtopic-5 {
        padding: 1vw;
    }
}